@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

:root {
    --bulma-primary-h: 271;
    --bulma-primary-s: 76%;
    --bulma-primary-75-l: 53%;
  
    --bulma-primary-75: hsla(
      var(--bulma-primary-h),
      var(--bulma-primary-s),
      var(--bulma-primary-75-l),
      1
    );
  }